#content_0_BasicSlider1 {
  top: 60px;
  position: absolute;
}

#content_0_BasicSlider1 {
  left: 60px;
  position: absolute;
}

#content_0_BasicSlider1 {
  width: 250px;
}

#content_0_BasicSlider1 {
  height: 100px;
}

#content_0_BasicSlider1 {
  z-index: 0;
}
